html{
    display:block;
}

body {

margin:0;
padding: 2rem 0;
width:100%;
background:black;
font-family:arial;



}

form{
    padding-right:10%;


}





main {
    background:white;
    width:90%;
    margin:auto;
    border-radius:5px;
    padding:2rem 0;

}
.artObject {
    width: 100%;
    max-width: 400px;
    padding:2.5em;
    height: 70%;
   
}

textarea {

    width:100%;
}


footer{
color:white;
text-align:center;

 }



/*form dives */


input{
    width:100%;
}

h1, h2 {

    align-self:center;
}

h3{
    text-align: left;
}


img.artObject1 {
    width:100%;
    display:block;
    min-width: 400px;
}

.anchorTag{
width: 50%;
margin-right:7%;

}

p{
    margin-top:10%;

}

.comments{
    display:block;
    

}

.artObject:hover{

    background-color:black;
    opacity: 0.6;
    transform: scale(0.9);
    transition: all .2s ease-in-out;
}



#gallery {

   
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
#gallery1 {

   
    display:flex;
    flex-direction:row;
}

@media (max-width:900px){
    #gallery1{
        display:flex;
        flex-direction: column;
        

    }
    .anchorTag{
        width: 100%;
        display:block;
        justify-content: center;
        
        
        }

        .comments{

            text-align:left;
        }

        form {
            max-width:80%;
            

        }

        
   

}

main{
    display:flex;
    flex-direction:column;
    width:100%;
    
}


