html{
    display:block;
}

body {

margin:0;
padding: 2rem 0;
width:100%;
background:black;
font-family:arial;
text-align:center;

}

#gallery {

    display:flex;
    flex-flow:row wrap;
    justify-content:left;
    align-items: flex-start;
}

a:-webkit-any-link {

    color: -webkit-link;

}

main {
    background:white;
    width:90%;
    margin:auto;
    border-radius:5px;
    padding:2rem 0;

}
.artObject {
max-width: 80%;
max-height:20rem;
margin:1rem;

}


 footer{
font-color:white;

 }

 input, label{

    display:flex;
 }

 button{

    float:left;
 }
 

h3{
    text-align: left;
}

